:root {
    --primary-color: #2285cd;
}

a {
    text-decoration: none;
    color: #212529bf;
}

* {
    font-family: "Kadwa", serif;
}

body {
    background-color: #f0f0f0;
}

.btn-primary {
    background-color: #2285cd !important;
}

.text-primary {
    color: #2285cd !important;
}

.font-sm {
    font-size: 13px;
}

.rounded-8 {
    border-radius: 40px;
}

.mt-70 {
    margin-top: 70px;
}

.navbar {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}
.custom-menu {
    margin-left: auto;
}
